<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li><a href="/user/{{id}}">{{name}}</a></li>
    {{/each}}
    </ul>

    <form class="" action="/" method="post" autocomplete="off">
      <label for="UserName">User Name</label>
      <input type="text" name="UserName" placeholder="User Name"><br><br>
      <label for="email">E-Mail</label>
      <input type="text" name="email" placeholder="E-Mail"><br><br>
      <label for="url">User Website</label>
      <input type="text" name="url" placeholder="User Website"><br><br>
      <label for="image_url">Profile Picture</label>
      <input type="text" name="image_url" placeholder="Profile Picture"><br><br>
      <input type="submit" name="AddUser" value="Add">
    </form>
  </body>
</html>
